.card{
    border-bottom: 5px solid rgb(80, 55, 55);
    border-right: 5px solid rgb(61, 39, 39);
    height: 500px;
    width: 400px;
    margin: 20px;
    padding: 20px;
    background:linear-gradient(90deg, rgb(253, 253, 253) 0%, rgba(255,255,255,1) 50%, rgb(80, 55, 55) 100%);
}
.card img{
    height: 400px;
    width: 100%;
}
#hero{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: 20px solid rgb(80, 55, 55);
    border-right: 20px solid rgb(61, 39, 39);
    background:linear-gradient(90deg, rgb(253, 253, 253) 0%, rgba(255,255,255,1) 50%, rgb(80, 55, 55) 100%);
}
.navbar{
    padding: 10px;
   background-color:rgb(80, 55, 55);
    font-size: 30px;
    color: aliceblue;
    

}